@media screen and (min-width: 1200px) {
.container {
  width: 1160px;
  /* padding-right: 156px;
  padding-left: 156px; */
}
.hero {
  width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  margin-bottom: 48px;
}
}