@media screen and (min-width: 480px) {
.container {
  max-width: 428px;
}
.hero {
    background-image: var(--gradient),
    url(./images/hero-bg-tablet.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient),
    url(./images/hero-bg-tablet-2x.jpg);
  }
}
.hero-title {
  font-size: 36px;
  max-width: 320px;
}
/* ------------MOB_MENU-------------- */
.mob-menu {
  padding: 40px;
}
.navigation-mob-link {
font-size: 36px;
}
.navigation-mob-item {
margin-bottom: 40px;
}
.address-mob-tell {
  font-size: 36px;
}
.address-mob-item:not(:last-child) {
  margin-bottom: 40px;
}
.address-mob-list {
  margin-bottom: 48px;
}
.mob-soc-list {
  display: flex;
  gap: 56px;
}
/* ------------OUR FEATURES--------- */
.features-subtitle {
  font-size: 36px;
}
.features-text {
  font-size: 16px;
}
/* ------------TEAM CARD---------- */
.container.container-mini {
padding-left: 82px;
padding-right: 82px;
}
/* --------CUSTOMERS--------- */
.customers-link {
  padding: 16px 40px;
}
/* ---------FOOTER---------- */
.footer-container1 {
  padding-left: 64px;
  padding-right: 64px;
}
.footer-input {
  min-width: 396px;
}
/* --------MODAL------- */
.modal {
  width: 392px;
}
/* ----------PORTFOLIO-CARDS--------- */

.portfolio-subtitle {
  font-size: 20px;
}

}