@media screen and (min-width: 480px) {
.container {
  max-width: 428px;
}
.hero-title {
  font-size: 36px;
  max-width: 320px;
}
/* ------------OUR FEATURES--------- */
.features-subtitle {
  font-size: 36px;
}
.features-text {
  font-size: 16px;
}
/* ------------TEAM CARD---------- */
.container.container-mini {
padding-left: 82px;
padding-right: 82px;
}
/* --------CUSTOMERS--------- */
.customers-link {
  padding: 16px 40px;
}
/* ---------FOOTER---------- */
.footer-container1 {
  padding-left: 64px;
  padding-right: 64px;
}
.footer-input {
  min-width: 396px;
}

}