@media screen and (min-width: 768px) {
.container {
  max-width: 768px;
}
.hero {
  padding-top: 111px;
  padding-bottom: 108px;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 500px;
  margin-bottom: 40px;
}
/* ------------OUR FEATURES--------- */
.features-item {
  width: calc((100% - 24px) / 2);
}
.features-list {
  column-gap: 24px;
  row-gap: 72px;
}
.features-subtitle {
  text-align: left;
}
/* ------------TEAM CARD---------- */
.section-team {
  padding-bottom: 104px; 
}
.team-list {
  column-gap: 24px;
  row-gap: 72px;
}
.team-card {
  min-width: 264px;
  width: calc((100% - 24px) / 2);
}
/* --------CUSTOMERS--------- */
.container.container-desktop-mini {
padding-left: 108px;
padding-right: 108px;
}
.customers-link {
  padding: 16px 32px;
}
.customers-list {
  column-gap: 24px;
}
.customers-item {
  width: calc((100% - 48px) / 3);
}
/* ---------FOOTER---------- */
.footer-container1 {
  padding: 0;
}
.footer-column {
  column-gap: 24px;
  justify-content: start;
  padding-left: 108px;
}
.footer-input-container {
  justify-content: start;
  gap: 24px;
}
.footer-text {
max-width: 264px;
}
.footer .logo {
  display: inline-block;
}
.footer-input {
  min-width: 264px;
}
.footer-modal-text {
  margin-left: 0;
  margin-right: auto;
}
}